{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Actual ({{ actual_identifier }})
{% for service in actual_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in actual_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ actual_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ actual_identifier }} \
      --log-driver=none \
      --user={{ actual_uid }}:{{ actual_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ actual_container_network }} \
      {% if actual_container_http_host_bind_port %}
      -p {{ actual_container_http_host_bind_port }}:{{ actual_container_http_port }} \
      {% endif %}
      --env-file={{ actual_base_path }}/env \
      --label-file={{ actual_base_path }}/labels \
      --mount type=bind,src={{ actual_data_path }},dst=/data \
      {% for volume in actual_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in actual_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ actual_container_image }}

{% for network in actual_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ actual_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ actual_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ actual_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ actual_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ actual_identifier }}

[Install]
WantedBy=multi-user.target
