[Unit]
Description=Versatiles Vectortile Server ({{ versatiles_identifier }})
{% for service in versatiles_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in versatiles_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ versatiles_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ versatiles_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ versatiles_identifier }} \
                --log-driver=none \
                --user={{ versatiles_uid }}:{{ versatiles_gid }} \
                --cap-drop=ALL \
                {% if versatiles_container_http_host_bind_port %}
                -p {{ versatiles_container_http_host_bind_port }}:{{ versatiles_container_http_port }} \
                {% endif %}
                --label-file={{ versatiles_config_path }}/labels \
                --network={{ versatiles_container_network }} \
                --mount type=bind,src={{ versatiles_data_path }},dst=/data \
                --read-only \
                --env-file={{ versatiles_env_path }} \
                {{ versatiles_container_image }} versatiles serve -s frontend.br.tar /data/osm.versatiles

{% for network in versatiles_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ versatiles_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ versatiles_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ versatiles_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ versatiles_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ versatiles_identifier }}

[Install]
WantedBy=multi-user.target
