{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if versatiles_container_labels_traefik_enabled %}
traefik.enable=true

{% if versatiles_container_labels_traefik_docker_network %}
traefik.docker.network={{ versatiles_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if versatiles_container_labels_traefik_middleware_basic_auth_enabled %}
{% set middlewares = middlewares + [versatiles_identifier + '-basic-auth'] %}
traefik.http.middlewares.{{ versatiles_identifier }}-basic-auth.basicauth.users={{ versatiles_container_labels_traefik_middleware_basic_auth_users }}
{% endif %}

{% if versatiles_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ versatiles_identifier }}-slashless-redirect.redirectregex.regex=^({{ versatiles_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ versatiles_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [versatiles_identifier + '-slashless-redirect'] %}
{% endif %}

{% if versatiles_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ versatiles_identifier }}-strip-prefix.stripprefix.prefixes={{ versatiles_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [versatiles_identifier + '-strip-prefix'] %}
{% endif %}

{% if versatiles_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in versatiles_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ versatiles_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [versatiles_identifier + '-add-request-headers'] %}
{% endif %}

{% if versatiles_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in versatiles_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ versatiles_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [versatiles_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ versatiles_identifier }}.rule={{ versatiles_container_labels_traefik_rule }}
{% if versatiles_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ versatiles_identifier }}.priority={{ versatiles_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ versatiles_identifier }}.service={{ versatiles_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ versatiles_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ versatiles_identifier }}.entrypoints={{ versatiles_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ versatiles_identifier }}.tls={{ versatiles_container_labels_traefik_tls | to_json }}
{% if versatiles_container_labels_traefik_tls %}
traefik.http.routers.{{ versatiles_identifier }}.tls.certResolver={{ versatiles_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ versatiles_identifier }}.loadbalancer.server.port={{ versatiles_container_http_port }}
{% endif %}

{% for arg in versatiles_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
